/* Estilos para a tabela de containers */
.containers-section {
    margin-top: 30px;
    text-align: center;
}

#containersTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#containersTable th, #containersTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#containersTable th {
    background-color: #007bff;
    color: white;
}
